<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Compose</title>
</head>

<body>
  <%- include("partials/header.ejs"); -%>
  <h1>Compose</h1>
  <form class="" action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" name="postTitle">
      <label>Text</label>
      <textarea name="postBody" class="form-control" rows="8" cols="80"></textarea>
    </div>
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
  </form>
  <%- include("partials/footer.ejs"); -%>
</body>

</html>
